.header__lang-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: right;
  text-decoration-line: none;
  color: #FFFFFF;     
}
