.lead__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: clamp(40px, 12.5vw, 96px);
    line-height: clamp(44px, 13vw, 100px);       
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: clamp(16px, 4.3vw, 32px);
    max-width: 720px;
    height: clamp(88px, 26.1vw, 200px);
}

/* @media screen and (min-width: 768px) {
    .lead__title {      
      margin: 0 0 32px;
      font-size: 96px;
      line-height: 100px;
    }
    } */