.place__paragraph {
    grid-area: text;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;    
}

@media screen and (min-width: 768px) {
    .place__paragraph {      
        max-width: 352px;
        font-size: 18px;
        line-height: 29px;
    }    
}

@media screen and (min-width: 1024px) {
    .place__paragraph {      
        max-width: 456px;        
    }    
}

@media screen and (min-width: 1280px) {
    .place__paragraph {      
        max-width: 484px;        
    }    
}