.footer__navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 48px;
}

@media screen and (min-width: 768px) {
    .footer__navbar {
        flex-direction: row;
    }
}