.cover {
  margin: 0;
  padding: 66px 0 64px;
  height: 62.5vw;
  width: 100%;
  max-width: 1184px;
  max-height: 740px;
}

@media screen and (min-width: 768px) {
  .cover {
    padding: 90px 0 88px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    padding: 92px 0 92px;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    margin: 0 auto 0;
  }
}