.cover__background {
    background-image: url("./../../../images/cover-trains.jpg");
    background-color: #2A2C2F;
    background-size: contain;
    background-repeat: no-repeat;    
    background-position: center;
    position: absolute;    
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;    
    z-index: -1;    
}
    
