.cover__background {
    background-image: url("./../../../images/cover-trains.jpg");
    background-color: #2A2C2F;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}